.stickynav {
	/* Properties for the bar itself */
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	z-index: 99;
	
	/* Bar coloration and spacing */
	background-color: rgba(50,50,50,255);
	border-top: 1px solid rgba(15,15,15,255);
    border-bottom: 3px solid #ffe2a6;
	padding: 0px;
	
	/* Default Text stuff */
	color: #fff;
}

nav {
    margin: 0px;
    padding-left: 10px;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}
  
nav ul li {
    display:inline-block;
    padding: 7px 20px;
    margin: 0px 0px;
    background-color: #fff1d5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px -2px 2px #000;
    box-shadow: 0px -1px 1px rgba(0,0,0,0.25) inset;
}

nav ul li a {
    display:block;
    //font-family: sans-serif;
    background: linear-gradient(to bottom right, #fff 75%, #eee1d0 100%);
    padding: 0px 20px;
    color:#000;
    font-size:16px;
    font-weight: bold;
    //line-height: 60px;
    text-decoration:none;
    border-radius: 2px;
    border-top: 3px #3f56ac dashed;
    box-shadow: 0px 0px 1px #000;
}

/* Fun Label Colors */

nav {
  --labelcolor1: #3f56ac;
  --labelcolor2: #d92626;
  --labelcolor3: #3fabab;
  --labelcolor4: #ab753f;
  --labelcolor5: #753fab;
  --labelcolor6: #248f24;
  --labelcolor7: #d926d9;
  --labelcolor8: #26acd9;
  --labelcolor9: #d98026;
  --labelcolor10: #d9d926;
}


nav ul li:nth-child(1) a {
    border-top: 3px var(--labelcolor1) dashed;
}
 
nav ul li:nth-child(2) a {
    border-top: 3px var(--labelcolor2) dashed;
}

nav ul li:nth-child(3) a {
    border-top: 3px var(--labelcolor3) dashed;
}

nav ul li:nth-child(4) a {
    border-top: 3px var(--labelcolor4) dashed;
}

nav ul li:nth-child(5) a {
    border-top: 3px var(--labelcolor5) dashed;
}

nav ul li:nth-child(6) a {
    border-top: 3px var(--labelcolor6) dashed;
}

nav ul li:nth-child(7) a {
    border-top: 3px var(--labelcolor7) dashed;
}

nav ul li:nth-child(8) a {
    border-top: 3px var(--labelcolor8) dashed;
}

nav ul li:nth-child(9) a {
    border-top: 3px var(--labelcolor9) dashed;
}

nav ul li:nth-child(10) a {
    border-top: 3px var(--labelcolor10) dashed;
}

/* 2nd Tier */
nav ul ul li:nth-child(1) a {
    border-top: 3px var(--labelcolor1) dashed;
}
 
nav ul ul li:nth-child(2) a {
    border-top: 3px var(--labelcolor2) dashed;
}

nav ul ul li:nth-child(3) a {
    border-top: 3px var(--labelcolor3) dashed;
}

nav ul ul li:nth-child(4) a {
    border-top: 3px var(--labelcolor4) dashed;
}

nav ul ul li:nth-child(5) a {
    border-top: 3px var(--labelcolor5) dashed;
}

nav ul ul li:nth-child(6) a {
    border-top: 3px var(--labelcolor6) dashed;
}

nav ul ul li:nth-child(7) a {
    border-top: 3px var(--labelcolor7) dashed;
}

nav ul ul li:nth-child(8) a {
    border-top: 3px var(--labelcolor8) dashed;
}

nav ul ul li:nth-child(9) a {
    border-top: 3px var(--labelcolor9) dashed;
}

nav ul ul li:nth-child(10) a {
    border-top: 3px var(--labelcolor10) dashed;
}

/* 3nd Tier */
nav ul ul ul li:nth-child(1) a {
    border-top: 3px var(--labelcolor1) dashed;
}
 
nav ul ul ul li:nth-child(2) a {
    border-top: 3px var(--labelcolor2) dashed;
}

nav ul ul ul li:nth-child(3) a {
    border-top: 3px var(--labelcolor3) dashed;
}

nav ul ul ul li:nth-child(4) a {
    border-top: 3px var(--labelcolor4) dashed;
}

nav ul ul ul li:nth-child(5) a {
    border-top: 3px var(--labelcolor5) dashed;
}

nav ul ul ul li:nth-child(6) a {
    border-top: 3px var(--labelcolor6) dashed;
}

nav ul ul ul li:nth-child(7) a {
    border-top: 3px var(--labelcolor7) dashed;
}

nav ul ul ul li:nth-child(8) a {
    border-top: 3px var(--labelcolor8) dashed;
}

nav ul ul ul li:nth-child(9) a {
    border-top: 3px var(--labelcolor9) dashed;
}

nav ul ul ul li:nth-child(10) a {
    border-top: 3px var(--labelcolor10) dashed;
}

/* 4th Tier - If you have more than 4 levels you are doing something very wrong. */
nav ul ul ul ul li:nth-child(1) a {
    border-top: 3px var(--labelcolor1) dashed;
}
 
nav ul ul ul ul li:nth-child(2) a {
    border-top: 3px var(--labelcolor2) dashed;
}

nav ul ul ul ul li:nth-child(3) a {
    border-top: 3px var(--labelcolor3) dashed;
}

nav ul ul ul ul li:nth-child(4) a {
    border-top: 3px var(--labelcolor4) dashed;
}

nav ul ul ul ul li:nth-child(5) a {
    border-top: 3px var(--labelcolor5) dashed;
}

nav ul ul ul ul li:nth-child(6) a {
    border-top: 3px var(--labelcolor6) dashed;
}

nav ul ul ul ul li:nth-child(7) a {
    border-top: 3px var(--labelcolor7) dashed;
}

nav ul ul ul ul li:nth-child(8) a {
    border-top: 3px var(--labelcolor8) dashed;
}

nav ul ul ul ul li:nth-child(9) a {
    border-top: 3px var(--labelcolor9) dashed;
}

nav ul ul ul ul li:nth-child(10) a {
    border-top: 3px var(--labelcolor10) dashed;
}
/* END Fun Label Colors */
 

nav a:hover { 
    color:#000;
}

/* Hide Dropdowns by Default */
nav ul ul {
    display: none;
    position: absolute; 
    top: 60px; /* the height of the main nav */
}
  
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
    display:inherit;
    margin-top: -20px;
}

nav ul ul {
    margin-left: -20px;
}
  
/* First Tier Dropdown */
nav ul ul li {
    width:170px;
    float:none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    display: list-item;
    position: relative;
    box-shadow: 1px 1px 2px #000;
    z-index: 9;
}

/* Second, Third and more Tiers */
nav ul ul ul {
    border-top: 2px solid #000;
}
nav ul ul ul li {
    position: relative;
    //top:-40px; 
    //left:170px;
    //border-top: 2px solid #000;
}
nav ul ul ul ul li {

}

  
/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }