/* Pageload Animations */
html {
	background-color: rgba(50,50,50,1);
}
body {
    animation: fadeIn 1s;
    margin: 0;
	background-color: #fff;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
/* End Pageload Animations */

/*
.herotext {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 1;
}
*/

/* Scrolling underline text effect */
a {
    position: relative;
    text-decoration: none;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/* END Scrolling underline text effect */

.pagetitle h1 {
	max-width: 100%;
	border-bottom: 1px solid #E1E1E1;
	margin-bottom: 40px;
}


img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.hero {
	background: url(../../images/laptop-computer-writing-technology-web-internet.webp);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(50,50,50,1);
	width: 100vmax;
	max-width: 100%;
	height: 100vmin;
	/* Both Chrome and FF support vmax */
}

.herosmall {
	background: url(../../images/laptop-computer-writing-technology-web-internet.webp);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(50,50,50,1);
	width: 100vmax;
	max-width: 100%;
	height: 25vmin;
	/* Both Chrome and FF support vmax */
}

h1.herotext {
	font-size: 10vmin;
	color: #fff;
	text-shadow: 3px 3px 2px #000;
	text-align: center;
    margin: 0;
	
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.container {
    background: #fff;
    padding: 30px;
    position: relative;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}


.content {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.footercontainer {
	background-color: rgba(50,50,50,1);
}

.footer {
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	text-align: justify;
	text-justify: inter-word;
}

.footercolumn {
	padding: 30px;
	margin-left: auto;
	margin-right: auto;
}

.footer span.sectiontitle{
	display: block;
	text-align: center;
	font-size: 40px;
	/* border-bottom: 1px solid #fff; */
	margin-bottom: 20px;
}
