/* Pageload Animations */
html {
	background-color: rgba(50,50,50,1);
}
body {
    animation: fadeIn 1s;
    margin: 0;
	background-color: #fff;
}

/* Meta Information Overlay */

#debug-overlay-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    z-index: 9999;
}

.debug-content {
    max-width: 800px;
    margin: 0 auto;
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
/* End Pageload Animations */

/*
.herotext {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 1;
}
*/

/* Scrolling underline text effect */
a {
    position: relative;
    text-decoration: none;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/* END Scrolling underline text effect */


.pagetitle h1 {
	max-width: 100%;
	border-bottom: 1px solid #E1E1E1;
	margin-bottom: 40px;
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
	/* Decoration */
	border: 1px solid rgba(200, 200, 200, 0.5);
	border-radius: 4px;
	padding: 5px;
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0);
	transition: box-shadow 0.5s ease-in-out; /* Apply transition to box-shadow */
}

img:hover {
	/* Decoration/Highlights */
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}

a img:hover {
	/* Decoration/Highlights */
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

ul {
	list-style-type: circle;
	list-style-position: outside;
	list-style-image: none;
}
ol {
	list-style-type: decimal;
	list-style-position: outside;
	list-style-image: none;
}
ol, ul {
  padding-left: 20px;
  margin-top: 0; }

.hero {
	background: url(../../images/laptop-computer-writing-technology-web-internet.webp);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(50,50,50,1);
	width: 100vmax;
	max-width: 100%;
	height: calc(100vmin - 58px);
	/* Both Chrome and FF support vmax */
}

.herosmall {
	background: url(../../images/laptop-computer-writing-technology-web-internet.webp);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(50,50,50,1);
	width: 100vmax;
	max-width: 100%;
	height: 25vmin;
	/* Both Chrome and FF support vmax */
}

span.herotext {
	font-size: 10vmin;
	color: #fff;
	text-shadow: 3px 3px 2px #000;
	text-align: center;
    margin: 0;
	
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.container {
    background: #fff;
    padding: 30px;
    position: relative;
	max-width: 1280px;
	margin-top:20px;
	margin-left: auto;
	margin-right: auto;
}


.content {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.footercontainer {
	background-color: rgba(50,50,50,1);
}

.footer {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	text-align: justify;
	text-justify: inter-word;
}

 @media only screen and (max-width : 768px) {
	.footer {
		max-width: 95%;
	}
}

.footercolumn {
	padding: 5%;
	margin-left: auto;
	margin-right: auto;
}

.footer span.sectiontitle{
	display: block;
	text-align: center;
	font-size: 40px;
	/* border-bottom: 1px solid #fff; */
	margin-bottom: 20px;
}

code {
	overflow-x: auto;
}
