/*
.herotext {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 1;
}
*/

.pagetitle h1 {
	max-width: 100%;
	border-bottom: 1px solid #E1E1E1;
	margin-bottom: 0px;
}

.container {
	width: 100%;
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.hero {
	background: url(../../images/gwshero.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100vmax;
	max-width: 100%;
	height: 100vmin;
	/* Both Chrome and FF support vmax */
}

h1.herotext {
	font-size: 10vmin;
	color: #fff;
	text-shadow: 3px 3px 2px #000;
	text-align: center;
	
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.stickynav {
	/* Properties for the bar itself */
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	z-index: 99;
	
	/* Bar coloration and spacing */
	background-color: rgba(50,50,50,255);
	border: 1px solid rgba(15,15,15,255);
	padding: 10px;
	
	/* Default Text stuff */
	color: #fff;
}